* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background: #0d0d0d;
    /* Fundo da página fora do jogo */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

/* Tipografia Jaguar */
h1 {
    font-family: 'Anton', sans-serif;
    /* Fonte de impacto */
    font-size: 80px;
    color: var(--cor-primaria);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-shadow: 4px 4px 0px #333;
    /* Sombra sólida */
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 32px;
    color: #fff;
    margin-bottom: 40px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 5px 20px;
    transform: skewX(-10deg);
    /* Estilo itálico forçado/dinâmico */
}

.stat-line {
    font-size: 20px;
    color: #ccc;
    margin: 10px 0;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}

.stat-line span {
    color: #fff;
    margin-left: 5px;
}

/* Scrollbar Global */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--cor-primaria);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none !important;
}